# Server
PORT=3000

# Schedule
SCRAPE_SCHEDULE=0 7 * * *
SCRAPE_TIMEZONE=America/New_York

# Google Sheets
GOOGLE_APPLICATION_CREDENTIALS=./credentials/google-service-account.json
GOOGLE_SHEET_ID=1GcwwlNJx8gYQBfWKMX9EFyrJG6Kyh4Kf8EmL_KO3ky4

# Slack
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/XXX/YYY/ZZZ

# Scraper
BATCH_SIZE=25
MIN_DELAY_MS=30000
MAX_DELAY_MS=60000
RETRY_DELAY_MS=90000

SCRAPERAPI_KEY=38e81e57b9b77294634d5ca450ab2969
GEMINI_API_KEY=your_gemini_api_key_here